#
# Authentication information for the interaction with web services
#
# cl.user - Your CL username
# cl.auth-token - Your CL authentication token for the project you're currently working on.
cl.user=admin
cl.auth-token=2f65d5bab5e8ad9fee7c13c59a93711c

#
# File system setup
#
# cl.fs.checkoutDir -- The name of the directory where to perform short-lived checkouts 
#   needed for base update, file diffing, integration etc. The directory must exist and must be writable.
#   The default behavious is to use the directory "checkout" under current project's .changelogic-rt directory.
#
#cl.fs.checkoutDir=/tmp/cl-checkouts